body {
    display: flex;
    flex-direction: column;
    background-color: darkred;
}

.content {
    margin: 0 auto;
    background-color: black;
    color: #86989B;
    border: #86989B solid 1px;
    border-radius: 1REM;
    padding: 1REM;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1REM auto 1REM;
}

h2.heading {
    margin: 1REM auto 1REM;
    text-align: center;
}

h3 {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

h3 a {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

.login {
    margin: 1REM auto 0REM;
    text-align: center;
}

.button {
    width: 100%;
    background-color: darkred;
    font-size: 1.5REM;
    color: #86989B;
}

ul.readings {
    margin: 0 auto;
}

.readings {
    color: yellow;
}

.login {

}