/*
* {
    border: greenyellow solid 1px;
}
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkred;
    padding: 0;
    margin: 0;

}

a, a:hover, a:visited {
    text-decoration: none;
    color: #86989B;
}

.content {
    margin: 2REM auto;
    background-color: black;
    color: #86989B;
    border: #86989B solid 1px;
    border-radius: 1REM;
    padding: 1REM;
    display: flex;
    flex-direction: column;
}

dl {
    list-style: none;
    margin: 0;
    padding: 0;
    display:inline;
}

dt {
    margin-top: 1REM;
}

dd {
    margin: 0;
    padding: 0;
}

form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1REM auto 1REM;
}

h2.heading {
    margin: 1REM auto 1REM;
    text-align: center;
}

h3 {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

h3 a {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

.login {
    margin: 1REM auto 0REM;
    text-align: center;
}

.button {
    margin: 1REM;
    width: 75%;
    background-color: darkred;
    font-size: 1.5REM;
    color: #86989B;
}

div.menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #86989b;
    min-width: 100%;
    margin: 0REM, 0REM, 1REM;
}

nav {
    display: flex;

}

div.nav_item {
    margin: 0.5REM;
    padding: 0.75REM;
}


div.nav_item a {
    border: 1px solid #86989b;
    border-radius: 1REM;
    margin: 0.5REM;
    padding: 1REM;
}

div.nav_item a:hover {
    background-color: #86989b;
    color: #000;
}


div.notification {
    background-color: green;
    font-weight: bold;
    min-width: 100%;
    text-align: center;
    color: black;
}

.readings {
    color: yellow;
}

.login {

}


/* db_admin */
#create{
    display: none;
}
#edit{
    display: none;
}

footer {
    background-color: black;
    color: #86989b;
    min-width: 100%;
    margin: 0REM, 0REM, 1REM;
}

footer p {
    /*margin: 0 auto;*/
    text-align: center;
}