/*
* {
    border: greenyellow solid 1px;
}
*/

body {
    display: flex;
    flex-direction: column;
    background-color: darkred;
}

.content {
    margin: 0 auto;
    background-color: black;
    color: #86989B;
    border: #86989B solid 1px;
    border-radius: 1REM;
    padding: 1REM;
    display: flex;
    flex-direction: column;
}

dl {
    list-style: none;
    margin: 0;
    padding: 0;
    display:inline;
}

dt {
    margin-top: 1REM;
}

dd {
    margin: 0;
    padding: 0;
}

form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1REM auto 1REM;
}

h2.heading {
    margin: 1REM auto 1REM;
    text-align: center;
}

h3 {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

h3 a {
    margin: 1REM auto 1REM;
    text-align: center;
    color: #86989B;
}

.login {
    margin: 1REM auto 0REM;
    text-align: center;
}

.button {
    margin: 1REM;
    width: 75%;
    background-color: darkred;
    font-size: 1.5REM;
    color: #86989B;
}

.readings {
    color: yellow;
}

.login {

}


/* db_admin */
#create{
    display: none;
}
#edit{
    display: none;
}